<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top border-bottom">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Blog Site</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link text-dark" href="{% url 'about_blog' %}">About</a>
        </div>

        <div class="navbar-nav ml-auto">
          <div class="form-group mb-0">
            <form action="{% url 'search' %}" method="post" class="mb-0">
              <div class="input-group">
                <input type="text" class="form-control rounded-sm" name="searchText" placeholder="Search...">
                <input type="submit" class="btn btn-outline-primary rounded-sm" value="Search">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>