{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for post in posts%}
    <article class="media content-section">
        <div class="article-img mr-3">
            <img class="img-thumbnail" src="{{post.image.url}}" style="max-width: 300px; max-height: 300px;">
        </div>
        <div class="media-body">
            <h2><a class="article-title" href="{% url 'detail' post.id %}">{{post.name}}</a></h2>
            <p class="article-content">{{post.perex}}</p>
            <div class="article-metadata">
                <small class="mr-2 text-muted">{{post.author}}</small>
                <small class="text-muted">{{post.date|date:"F, d, Y"}}</small>
            </div>
            <div class="row px-3">
                <a>Category: </a>
                <label class="badge badge-warning rounded-lg px-3 my-1 mx-1">
                    <a class="category-link" href="{% url 'category' post.category_id.name %}">{{post.category_id}}</a>
                </label>
            </div>
            <div class="row px-3">
                <a>Tags: </a>
                {% for tag in post.tags.all %}
                    <label class="badge badge-primary rounded-lg px-3 my-1 mx-1">
                        <a class="tag-link" href="{% url 'tag' tag.name %}">{{tag}}</a>
                    </label>
                {% endfor %}
            </div>
        </div>
    </article>
    {% endfor %}
    {% include 'partials/pagination.html' %}
{% endblock %}
