{% extends 'base.html' %}
{% load static %}
{% block content %}
    <article class="content-section">
        <div>
            <strong><h2 class="article-title">{{post.name}}</h2></strong>
        </div>
        <div class="article-metadata">
            <small class="mr-2 text-muted">{{post.author}}</small>
            <small class="text-muted">{{post.date|date:"F, d, Y"}}</small>
        </div>
        <div class="text-center">
          <img class="article-img mb-2" src="{{post.image.url}}" style="max-width: 100%; max-height: 400px;">
        </div>
      <div class="media-body">
        <p class="article-content">{{post.content}}</p>
      </div>
    </article>
{% endblock %}